
.bg-dark-grey{
   background: #222831;
}
.bg-grey{
    background: #393E46;
}
.bg-blue{
background: #00ADB5;
}
.bg-white{
    background: #EEEEEE;
}
.jumbotron.jumbotron-fluid {
margin-bottom: 0;
}
.portfolio-box{
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}
.my-4{
 size: 20%;
}
hr{
    margin-left: 30px;
    margin-right: 30px;
}
