body{
    font-weight: 550;
    line-height: 2;
}
hr{
    border-color: #00ADB5;
    margin-top: 2rem;
    height: 9px;
}
.bg-dark-grey{
   background: #222831;
}
.color-dark-grey{
    color: #222831;
}
.bg-grey{
    background: #393E46;
}
.bg-blue{
background: #00ADB5;
}
.cheader-color{
    background: #222831;
    color: #00ADB5;
}
.cbody-color{
    background-color: #393E46;
    color: #00ADB5;
}
.bg-white{
    background: rgb(230, 230, 230);
}
.display-4{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;
}
.jumbotron.jumbotron-fluid {
margin-bottom: 0;
}
div.container-fluid.bg-grey{
    font-family: 'Antic Slab', serif;
    
}
p.lead{
    color:rgb(255, 255, 255)
}
p{
    margin-top: 20px;
}
.text-color{
  color: rgb(180, 180, 180);
}
a.portfolio-box:hover{
    color: rgba(0, 172, 181, 0.404);
}
.my-4{
 size: 20%;
}
hr{
    margin-left: 20px;
}
.list-group{
    font-weight: 500;
}
.progress-bar{
    text-align: start;
}
.marglft{
    margin-left: 1.2rem;
}
.github{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
}
.img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    border: .5rem solid rgb(46, 46, 46);
}
.name{
    color: white;
    font-size: 2rem;
}
